<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

<!-- ClustrMaps Script and Map Container -->
<div id="clustr_map_container">
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=qyNluTlmNiSUKmwsVUPfZdMa9z1eNjAMIYCV208JAJY"></script>
</div>

<style>
    /* 确保容器的尺寸很小 */
    #clustr_map_container {
        width: 20px !important;   /* 设置地图宽度为 20px */
        height: 20px !important;  /* 设置地图高度为 20px */
    }

    /* 如果地图仍然很大，可以调整 ClustrMaps 默认样式 */
    #clstr_globe {
        width: 20px !important;   /* 强制设置地图宽度 */
        height: 20px !important;  /* 强制设置地图高度 */
    }
</style>

</html>
