<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

<head>
    <!-- 其他<head>内容 -->
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=qyNluTlmNiSUKmwsVUPfZdMa9z1eNjAMIYCV208JAJY"></script>
</head>

</html>
