<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


    <!-- Image to hack wechat -->
    <img src="/img/apple-touch-icon.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->

    <!-- ClustrMaps Script at the Bottom of the Page -->
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=qyNluTlmNiSUKmwsVUPfZdMa9z1eNjAMIYCV208JAJY"></script>

    <style>
        /* 将地图定位在页面底部并居中 */
        #clstr_globe {
            position: fixed;           /* 固定定位 */
            bottom: 10px;              /* 距离底部 10px */
            left: 50%;                 /* 水平居中 */
            transform: translateX(-50%);  /* 调整到精确的水平中心 */
            width: 50px !important;    /* 设置宽度为 50px */
            height: 50px !important;   /* 设置高度为 50px */
        }
    </style>
</body>


</html>
